{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'src/styles.css' %}">
</head>
<body class="bg-black h-[5500px]">
<div class="bg-gray-400">
    <div class="relative min-h-screen">
      <!-- Fixed Image -->
      <img
        src="{% static 'images/SkiingMountain.png' %}"
        alt="Fixed Image"
        class="fixed top-0 left-1/2 transform -translate-x-1/2 bg-sky-700 transition-all ease-in duration-100 border-solid border-2 border-gray-400"
        id="animatedDiv"
      />
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
<script src="{% static 'js/index.js' %}"></script>
</body>
</html>

